@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~bootstrap";

body {
  background: #eeedec;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.container {
  max-width: 400px;
}

.card {
  min-height: 500px;
}

label {
  font-size: 1.5rem;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
